a{
  color: pink; /*couleur du texte */
  text-decoration: none;
}


body {
  font-family:"Source Serif Pro";
  background-color: white;
  transition: background .5s;
  position: relative;
  padding-bottom: 16px;
  background-color: #ffefde; /* couleur fond = beige */
}





h1{
  font-family: "Source Serif Pro";
  font-weight: 400; /* epaisseur */
  font-style: italic;;
}

/* fin boucle d'image de fond ACCUEIL */


/* menu déroulant */
.menu {
  position:absolute;
  z-index:1;
  background:white;
  border:3px solid;
  width: calc(100% - 16px);
  max-width: 850px; /* longueur bandeau */
  left:50%;
  top: 15px;
  font-weight: 700;
  font-size: 24px;
  transform:translateX(-50%);
  cursor: pointer;
}


.menu-visible {
  padding:16px;
  position:relative;
}

.menu-ouvrir { /* flèche pour ouvrir menu */
  position:absolute;
  right: 19px;
  top: 5px;
  cursor: pointer;
  font-size: 35px;
}

.menu-ouvert {
  font-family: "Source Serif Pro";
  font-style: italic;
  font-weight: 200;
  }

.menu-ouvert .menu-ouvrir {
  transform: rotate(180deg);
  top:16px;
}

.menu-cache {
  display:none;
}

.menu h1 {
  margin: 0;
  font-size: 1em;
}

.menu ul {
  padding-left: 0;
  margin:0;
}

.menu li {
  list-style-type: none;
  color:#491a8f;
  padding:8px 16px;  /* espace séparant nom des projets entre eux et avec le bord */

}

.menu-liens { /* ligne séparant les 2 catégories dans menu déroulant */
  border-bottom:3px solid #491a8f;
}
.menu a {
  color:#491a8f; /*couleur titre a propos dans menu deroulant */
  text-decoration:none;
  display: block;
}

.menu li:hover {   /* passage en négatif ou en surlignage quand on passe la souris sur la catégorie */
  background:pink;
  color:white;
}

.menu.menu-ouvert .menu-cache {
  display:block;
}

.menu.menu-ouvert .menu-visible { /* ligne séparant titre du menu déroulant */
  border-bottom: 3px solid #491a8f;
}

.menu-projets ul {
  overflow-y: scroll;
  max-height: calc((1em * 1.2 + 16px) * 6.5);
}
/* fin menu déroulant */



/* mise en page des projets */
.projet, .projets{  /* pour la page PROJET et pour les projets individuels */
  width:100%;
  max-width: 850px;
  margin:auto;
  padding-top: 5em;
}

.projets .Projet h3 {
  display: none;
}
.infos {
  display: flex;
  justify-content: space-between;
  /* cf grenouille : les éléments dans ce bloc seront toujours espacés au maximum entre eux */
}

.infos .gauche {
  flex: 0 0 35%;
  margin-right: 16px;
}

.infos .droite {
  flex: 0 0 57%;
}

.images, .projets {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}



.projet .images figure.pleine {
  width: calc(100% - 32px);
}

@media screen and (max-width: 850px) { /* pour le responsive */
  .projet .images figure {
    width: calc(50% - 32px);
  }
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 650px) {   /* pour le responsive */
  .infos {
    flex-wrap: wrap;
  }
  .infos .gauche, .infos .droite {
    flex: 0 0 100%;
  }
  .choixlangue { /* A RECOPIER AUTRE !!!!!*/
    position: absolute;
    bottom: 0;
    left: 16px;
  }
  }


  .choixlangue {
  color:#353534;
  text-align: right;
  font-size: 14px;
  cursor: pointer;
  margin-top: 15px;
  margin-right: 15px;

  }



  .projet .images figure.footer {
    font-size: 12px;
  }
